---
layout: null
---
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 3 janv. 2015, 04:02:16
    Author     : Mic
*/

body {
  margin: 0px;
  overflow: hidden;
}

#mcs-div {
  margin: 20px 20px 20px 20px;
  background-image: url("{{site.baseurl}}/assets/textures/backgroundImage.jpg");
}

#mcs-div canvas {
  vertical-align: top;
}

#debug {
  position: absolute;
  left: 30%;
}